{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Car Collector</title>
</head>
<body>
  <header>
    <nav class="nav-extended">
      <div class="navbar-fixed">
        <div class="nav-wrapper orange ">
          <ul>
            <li><a href="/" class="left brand-logo">&nbsp;&nbsp;CarCollector</a></li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'main:about' %}">About</a></li>
            <li><a href="{% url 'main:create' %}">Add A Car</a></li>
            <li><a href="{% url 'main:index' %}">View My Garage</a></li>
          </ul>
        </div>
      </div>
      {% if navcars %}
      <div class="nav-content">
        <ul class="tabs orange darken-2">
          <li class="tab"><a class="white-text active" href="{% url 'main:index' %}">Garage: </a></li>
          {% for c in navcars %}
          <li class="tab"><a class="white-text" href="{% url 'main:detail' c.id %}">{{c.model}}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </nav>
  </header>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer orange">
    <div>Carcollector made with ♥︎ by Kevinn Arbas. Remember to ♻︎</div>
  </footer>
</body>
</html>