{% extends 'main/base.html' %}

{% block content %}

{% if object %}
  <h1><i class="material-icons medium">edit</i>Edit <span class="grey-text text-darken-1">{{object.model}}</span></h1>
{% else %}
  <h1><i class="material-icons medium">add_circle</i> Add A Car</h1>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}

  </table>
  <br><br>
  {% if object %}
    <button type="submit" class="btn grey">Edit Description</button>
  {% else %}
    <button type="submit" class="btn grey">Add Car!</button>
  {% endif %}
</form>


{% endblock %}